.postContainer{
    font-size: 15px;
    text-transform: capitalize;
    list-style: none;
    background: rgba(0,0,0,.1);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.postContainer:hover{
    background: rgba(0,0,0,.2);
    transition: .25s;
}